{% extends '_template.html' %}
{% block content %}
        <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <img style="width: 100%;height: 100%" src="{{ urun.urun_gorseli }}">
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">{{ urun.fiyat }}TL</p>
                                <a href="product-details.html">
                                    <h6>{{ urun.urun_ismi }}</h6>
                                </a>
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="review">
                                        <a href="#">Write A Review</a>
                                    </div>
                                </div>
                                <!-- Avaiable -->
                                <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p>
                            </div>

                            <div class="short_overview my-5">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quae eveniet culpa officia quidem mollitia impedit iste asperiores nisi reprehenderit consequatur, autem, nostrum pariatur enim?</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <div class="cart clearfix" method="post">
                                <div class="cart-btn d-flex mb-50">
                                    <p>Qty</p>
                                    <div class="quantity">
                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                        <input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                {% if user.is_authenticated %}
                                <button id="addtoCart" type="submit" name="addtocart" value="5" class="btn amado-btn">Add to cart</button>
                                {% else %}
                                   <button class="btn btn-info" style="width: 100%;height: 60px;">Login to add cart</button>
                                {% endif %}
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    <script>
    $(document).ready(function(){
      var csrftoken = $("[name=csrfmiddlewaretoken]").val();
      $("#addtoCart").on("click",function(){
            $.ajax({
                url:domain+"/cart/",
                type:"POST",
                headers:{
                    "X-CSRFToken": csrftoken
                },
                data:{
                    "urun_id":{{ urun.id }},
                    "kullanici_id" : {{ user.id }},
                    "fiyat" : {{ urun.fiyat }}
                },
                success:function(data){
                    if(data.response == true){
                        $("#addtoCart").text("Added Successfully")
                        $("#addtoCart").attr("disabled","disabled")
                        console.log(data)
                    }
                },
                error:function(data){
                    console.log(data)
                }


            })
        })
    })
</script>

{% endblock %}

